* { box-sizing: border-box; }


.scene_2 {
  width: 200px;
  height: 200px;
  margin: 20px;
  perspective:600px;
  float: left;
  padding-left: 100px;
  margin-top: -350px;
  margin-left: 274px;
}

.rollBtn_2{
  background:black;
  color:white;
  border:none;
  margin:auto 0;
  font-size:1.5em;
  margin-top:1em;
  width:200px;
}


.cube_2 {
  width:200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.11s;
}
.cube_2 {
  width:200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 0.11s;
}


.cube_2.show-1  { transform: translateZ(-100px) rotateY(   0deg); }
.cube_2.show-2  { transform: translateZ(-100px) rotateY(-180deg); }
.cube_2.show-3  { transform: translateZ(-100px) rotateY( -90deg); }
.cube_2.show-4   { transform: translateZ(-100px) rotateY(  90deg); }
.cube_2.show-5   { transform: translateZ(-100px) rotateX( -90deg); }
.cube_2.show-6 { transform: translateZ(-100px) rotateX(  90deg); }


.cube__face_2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}


.cube__face--1_2  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--2_2   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--3_2  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--4_2   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--5_2   { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--6_2 { transform: rotateX(-90deg) translateZ(100px); }

label { margin-right: 10px; }
/* .cube {
    animation: spin-arround-oz 5s infinite linear;
} */